* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
}

header {
    position: fixed;
    width: 18vw;
    height: 100vh;
    background-color: #2e2d30;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column; /* Empilha os itens verticalmente */
    align-items: center;    /* Alinha ao início */
    justify-content: center;
    overflow: hidden; /* Impede que o filho ultrapasse os limites */
}

main {
    background-color: #424143;
    width: 82vw;
    min-height: 100vh;  /* Garante que o elemento tenha pelo menos 100vh */
    margin-left: 18vw;
    padding: 2.5rem;
    overflow: hidden; /* Impede que o filho ultrapasse os limites */
}

.botao {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 3vh;
    width: 10vw;
    margin: 5vh 2vw;
    background-color: white;
    padding: 10px; 
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; /* Suaviza a mudança de cor */
}
.botao:hover {
    color: white;
    background-color: #2e2d30;
}
img{
    height: 65vh;
    width: 51vw;
    border: solid 3px white;
}
h3,p{
    color: white;
    margin-top: 2VH;
}
input{
    background-color: #2e2d30;
    color: white;
    width: 49vw;
    height: 5%;
    margin-top: 2vh;
    padding: 1vw;
}
.botao-new-post{
    width: auto;
}
.img-ampliada{
    max-width: 70vw; /* Limita a largura máxima a 70% da largura da janela */
    max-height: 80vh; /* Limita a altura máxima a 80% da altura da janela */
    width: auto; /* Deixa a largura ajustar automaticamente */
    height: auto; /* Deixa a altura ajustar automaticamente */
}

.message-box {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}
.div-edit{
    display: flex;
    flex-direction: column;
}